# Checkpoints files
.ipynb_checkpoints
*.pyc 

# Data directory
data/
# Pytorch lightning logs
lightning_logs/


# style directories
Baroque/
Realism/
Romanticism/
Renaissance/
real.tar.gz
renan.tar.gz
roman.tar.gz
baro.tar.gz

models/